gradio
langchain
langchain-community
langchain-core
langchain-openai
pandas
pyprojroot
python-dotenv
PyYAML
SQLAlchemy
openai
chromadb
jupyter
ipykernel
openpyxl
xlrd
numexpr
wikipedia
langgraph
faiss-cpu
docarray
langchain-anthropic
tavily-python
langgraph-checkpoint-sqlite
unstructured
networkx
langchain-unstructured
python-magic-bin
python-pptx
pdfminer.six
pi-heif
unstructured-inference
sentencepiece
llama-index-core
llama-parse
llama-index-readers-file
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-postprocessor-flag-embedding-reranker
git+https://github.com/FlagOpen/FlagEmbedding.git
llama-index-indices-managed-llama-cloud
plotly
kaleido
trulens
trulens-providers-openai